Module1-PreliminaryPython/.ipynb_checkpoints/*
Module1-PreliminaryPython/sampleData/test_csv.csv
Module1-PreliminaryPython/test.bin
Module1-PreliminaryPython/test.npy
Module1-PreliminaryPython/test.txt
Module1-PreliminaryPython/test_csv.csv
Module1-PreliminaryPython/test_save.npy
Module1-PreliminaryPython/mystyle.mplstyle
Module2-Bioinformatics/.ipynb_checkpoints/bioinformaticsWorkbook-checkpoint.ipynb
Module2-Bioinformatics/.ipynb_checkpoints/M2_BioinformaticsTools-checkpoint.ipynb
Module2-Bioinformatics/aligned_sequences.fa
Module2-Bioinformatics/alignment_results.fa
Module2-Bioinformatics/alignment_results_AA.fa
Module2-Bioinformatics/BioNTech_vs_Moderna_Alignment.png
Module2-Bioinformatics/coronaVirus.gb
Module2-Bioinformatics/sequences.fa
Module2-Bioinformatics/.ipynb_checkpoints/Homework4_ProblemSet-checkpoint.ipynb
Module2-Bioinformatics/.virtual_documents/M2_BioinformaticsTools.ipynb
Module2-Bioinformatics/BLAST_Alignment.png
Module2-Bioinformatics/blast_file_aligned.afa
Module2-Bioinformatics/blast_result_1.xml
Module2-Bioinformatics/blast_result_2.xml
Module2-Bioinformatics/blast_result_3.xml
Module2-Bioinformatics/covid.phy
Module2-Bioinformatics/covid2.nexus
Module2-Bioinformatics/covid2.phy
Module2-Bioinformatics/covid_variants.fa
Module2-Bioinformatics/covid_variants_aligned.afa
Module2-Bioinformatics/proteinBLASTresult.fa
Module2-Bioinformatics/proteinBLASTresult.xml
Module2-Bioinformatics/Variant_Alignment.png
biom421/biom421.egg-info/*
biom421/biom421/__pycache__/*
Module1-PreliminaryPython/.virtual_documents/*
Module1-PreliminaryPython/.ipynb_checkpoints/*
.DS_Store
Module3-Statistics/obsolete/M4A_Basics_of_Regression_and_Classification.ipynb
Module3-Statistics/obsolete/M3_StatisticsIntroduction.ipynb
Module3-Statistics/obsolete/M3D_Basics_of_Regression_Classification_and_Machine_Learning.ipynb